{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>

<br/>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto porro, beatae quidem sunt harum enim, tempora
    reprehenderit vel sequi quos, alias recusandae omnis nostrum! Tempora autem magnam illo consequatur voluptates nam
    distinctio, expedita repellendus commodi dolore ipsum, blanditiis voluptatum, fugit porro architecto! Maxime qui
    commodi molestiae facilis animi, incidunt dolore magnam deserunt provident, excepturi cupiditate tempore laborum
    nostrum iste delectus accusamus id suscipit. Id voluptate a nemo quidem ipsa perferendis provident tempore maxime
    unde odit animi quasi tempora asperiores aliquam earum, sapiente impedit necessitatibus repellat eos recusandae
    veniam eveniet placeat harum vel! Modi tenetur, velit voluptate enim rerum in ducimus sint ex nemo sed?
    Exercitationem et laborum debitis, ipsum accusamus beatae nemo magnam expedita labore dolor, assumenda maiores
    laudantium odit id saepe velit neque commodi. Quidem adipisci mollitia tempora nulla explicabo maxime nesciunt
    inventore rerum illum itaque error laboriosam aut quibusdam, reprehenderit architecto, ad natus quia eos temporibus
    nihil nemo hic id suscipit. Sint nobis, quidem nihil laborum ea deserunt non. Repellendus alias eaque laborum ullam
    magnam veniam aperiam repellat dolore, eveniet cupiditate iusto esse quis odio quaerat minima odit quia ipsam?
    Consectetur eius itaque rem eos totam repudiandae sit aspernatur perferendis dolorem magnam, harum, commodi
    consequuntur, quia voluptatibus. Ex, atque! Alias aperiam pariatur voluptatibus suscipit! Voluptatibus et mollitia
    accusamus veniam itaque aperiam exercitationem culpa ab officiis placeat necessitatibus ipsum distinctio odit sequi
    vel nesciunt, quod dignissimos expedita nam eligendi soluta doloremque harum quas. Molestias reiciendis, similique,
    excepturi ducimus repudiandae magni tenetur architecto maxime dolore, ut nobis doloremque repellat nemo suscipit
    deleniti? Molestiae odit architecto aliquam voluptatibus ipsam mollitia aspernatur deleniti ut, reprehenderit labore
    officia quidem maiores optio nulla debitis nam magni voluptate doloribus dolor assumenda corporis! Iusto praesentium
    rerum voluptatibus harum qui officiis! Provident, quidem aliquid! Suscipit, quos? Odit ea nesciunt velit officia
    cumque aspernatur laudantium praesentium eum dicta.</p>
<br/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet doloremque vel non id, doloribus vero eius suscipit
        quibusdam nesciunt ipsam rerum alias sunt iste nam maxime? Sint dolores dolore voluptate quasi molestias minima
        ipsum totam ducimus voluptates, repudiandae aut placeat vitae consequatur eos, fugiat est iure. Praesentium error
        rem tenetur, vero eligendi perspiciatis? Nostrum, hic minus tempore voluptas vitae in quibusdam magnam earum
        recusandae eius, id fuga aspernatur. Quis ipsam totam dicta aut velit possimus iste, asperiores aperiam inventore
        quisquam reiciendis consequuntur nihil saepe voluptatem tenetur illum sit sunt quod veritatis id amet qui vero
        facilis. Natus ad illum maxime.</p>

{% endblock %}